.timestamp-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1rem;
  margin: 1rem 0 5rem;
  @media (max-width: 576px) {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
  .timestamp {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
  }
  .timestamp:nth-child(odd) {
    position: relative;
    padding-right: 2rem;
    border-right: 2px solid #ccd5dd;
    text-align: right;
    &::before {
      top: 2.35rem;
      right: -0.05rem;
      border: 1px solid #8a8e94;
      width: 16px;
    }
    &::before,
    &::after {
      position: absolute;
      content: '';
      background: #fff;
      align-self: center;
    }
    &::after {
      box-sizing: border-box;
      top: 2rem;
      right: -0.83rem;
      border-radius: 1.25rem;
      transform: translateX(-50%);
      border: 2px solid #8a8e94;
      width: 12px;
      height: 14px;
      z-index: 1;
    }
    &:first-child:after {
      animation: blink 1s ease-in-out infinite;
      @keyframes blink {
        50% {
          border-color: #ffaf19;
        }
      }
    }
    .title {
      text-align: right;
    }
  }
  .timestamp:nth-child(even) {
    padding-top: 5.5rem;
    padding-left: 2rem;
    position: relative;
    align-items: flex-start;
    margin: 1rem 0;

    &::before {
      top: 7.4rem;
      border: 1px solid #8a8e94;
      width: 16px;
    }

    &::after,
    &:before {
      position: absolute;
      content: '';
      left: -0.05rem;
      background: #fff;
      align-self: center;
    }

    &::after {
      top: 7rem;
      border-radius: 1.25rem;
      transform: translateX(-50%);
      border: 2px solid #8a8e94;
      width: 12px;
      height: 14px;
      z-index: 1;
    }
    .title {
      text-align: left;
    }
  }
  .timestamp__main {
    .when {
      font-size: 0.875rem;
      color: #3f4247;
    }
    .title {
      font-weight: 500;
      margin: unset;
      font-size: inherit;
    }
  }
  .timestamp__details {
    margin-top: 0.5rem;
    color: #8a8e94;
    font-size: 0.875rem;
    display: flex;
    line-height: 1.1;
    justify-content: flex-end;
    @media (max-width: 576px) {
      display: block;
    }
    .tags {
      width: fit-content;
      border-radius: 1.25rem;
      border: 1px solid #8a8e94;
      color: #8a8e94;
      font-size: 0.75rem;
      line-height: 1;
      height: fit-content;
      font-size: 0.625rem;
      padding: 0.11rem 0.25rem;
      margin: 0 0 0 0.225rem;
    }
  }
  @media (max-width: 576px) {
    .timestamp:nth-child(odd) .timestamp__details .tags {
      margin: 0.225rem 0;
      float: right;
    }

    .timestamp:nth-child(even) .timestamp__details .tags {
      margin: 0.225rem 0;
    }
  }
}
