@import '../../styles/variables.scss';

.thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1.625rem;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  h3 {
    color: $dark-gray;
    margin-top: 0;
  }
  p {
    color: $middle-gray;
    margin-bottom: 0;
  }

  &::before {
    position: absolute;

    content: '';
    width: 6px;
    height: calc(100% - 16px);
    background: #9cc3fc;
  }

  & > div {
    position: relative;
    padding-left: 16px;

    p {
      font-size: 90%;
      line-height: 1.4;
    }
  }
}

.thumbnail.visible {
  opacity: 1;
}

.dark .thumbnail::before {
  background: #7b78da;
}

.thumbnail:hover {
  opacity: 0.6;
}
