@import '../../styles/variables.scss';

.thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  h3 {
    font-weight: 500;
    color: $dark-gray;
    transition: 0.5s ease-in-out;
  }
  p {
    color: $middle-gray;
    transition: 0.5s ease-in-out;
  }

  &::before {
    position: absolute;
    content: '';
    width: 6px;
    height: calc(100% - 16px);
    position: absolute;
    background: #9cc3fc;
    transition: 0.5s ease-in-out;
  }

  &:hover {
    &::before {
      width: 100%;
    }
    h3 {
      color: #fff;
    }
    p {
      color: #f0f0f0;
    }
  }

  & > div {
    position: relative;
    padding-left: 16px;

    p {
      font-size: 90%;
      line-height: 1.4;
    }
  }
}

.thumbnail.visible {
  opacity: 1;
}

.dark .thumbnail::before {
  background: #7b78da;
}
