.about {
  .title {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
  }

  .highlight {
    position: relative;
    margin-bottom: 1.375rem;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      height: 12px;
      width: 108%;
      bottom: 10px;
      background-color: #18cd8c;
      opacity: 0.2;
      left: 0;
    }
  }
  h1,
  .no-border {
    border-bottom: transparent !important;
  }

  h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    letter-spacing: -1px;
  }

  thead tr th {
    position: relative;
    padding-top: 0;
    word-break: keep-all;
    font-size: 1.625rem;
    font-weight: 900;
    strong {
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        height: 12px;
        width: 90%;
        bottom: 10px;
        background-color: #18cd8c;
        opacity: 0.2;
        left: 0;
      }
    }
  }

  div.final {
    margin-top: 5em !important;
  }

  div.about-me {
    display: flex;
    align-items: center;
    p {
      width: 17rem;
      min-width: 17rem;
      height: 17rem;
      display: flex;
      span {
        padding: 0 !important;
        img {
          position: static !important;
          width: 100%;
          border-radius: 1.25rem;
          border: 1px solid #f0f0f0;
        }
      }
    }
    table {
      margin-left: 32px;
    }
  }
}
