.footer-container {
  display: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  .footer-contents {
    font-size: 0.75rem;
    color: #222;
    transition: all 0.2s ease-in-out;
    .icon {
      color: #ccd5dd;
      text-align: center;
    }
  }
}

.dark {
  .footer-container .footer-contents {
    color: #eeeeee;
  }
}
